<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>问答提交界面</title>
  <style type="text/css"></style>
</head>
<body>
    <h1>QA system</h1>
  <form action="/question" method="post">
    <label for="question">问题</label>
    <input name="question" id="question" value="" required>
    <p></p>
    <label for="answer">答案</label>
    <textarea name="answer" id="answer" style="height: 80" ></textarea>
    <input type="submit" value="Save">
  </form>
</body>
</html>
